<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="RhogenAppWizard"
            name="Rhomobile">
      </category>
      
      <wizard
            category="RhogenAppWizard"
            class="rhogenwizard.wizards.RhodesAppWizard"
            icon="icons/sample16.png"
            id="rhogenwizard.wizards.RhogenWizard"
            name="Rhodes application"
            project="true"> 
      </wizard>

      <wizard
            category="RhogenAppWizard"
            class="rhogenwizard.wizards.RhoconnectAppWizard"
            icon="icons/sample16.png"
            id="rhogenwizard.wizards.RhogenSyncAppWizard"
            name="Rhoconnect application"
            project="true"> 
      </wizard>
            
      <wizard
            category="RhogenAppWizard"
            class="rhogenwizard.wizards.ModelWizard"
            icon="icons/sample16.png"
            id="rhogenwizard.wizards.RhogenModelWizard"
            name="Rhodes model"> 
      </wizard>
      
      <wizard
            category="RhogenAppWizard"
            class="rhogenwizard.wizards.SourceAdapterWizard"
            finalPerspective="rhogenwizard.perspectives.RhostudioPerspective"
            icon="icons/sample16.png"
            id="rhogenwizard.wizards.RhogenSourceAdapterWizard"
            name="Rhoconnect Source Adapter"> 
      </wizard>
   </extension>
   
   <extension point="org.eclipse.ui.editors">
      <editor
            class="rhogenwizard.editors.YmlFileEditor"
            extensions="yml"
            filenames="rhobuild"
            icon="icons/sample16.png"
            id="rhogenwizard.editors.RhodesEditor"
            name="Rhodes Editor">
      </editor>
   </extension>
   
	<extension point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.dltk.ruby.internal.ui.editor.RubyEditor"
            default="true"
            extensions="rb,erb"
            icon="icons/ruby.png"
            id="rhogenwizard.editors.RubyEditor"
            name="Ruby Editor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.core.resources.builders"
               id="rhogenBuilder"
               name="Rhodes Project Builder">
      <builder
            hasNature="true"
            isConfigurable="false">
         <run
               class="rhogenwizard.builder.RhogenBuilder">
         </run>
      </builder>
   </extension>
   
   <extension point="org.eclipse.core.resources.natures"
              id="rhogenNature"
              name="Rhodes Project Nature">
      <runtime>
         <run
               class="rhogenwizard.builder.RhogenNature">
         </run>
      </runtime>
      <builder
            id="com.rhomobile.rhostudio.rhogenBuilder">
      </builder>
   	</extension>
 
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	    <launchConfigurationTypeImage
	        icon="icons/sample16.png"
	        configTypeID="rhogenwizard.launcher.rhodesApp"
	        id="org.eclipse.jdt.debug.ui.launchConfigurationTypeImage.javaApplet">
	    </launchConfigurationTypeImage>
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	    <launchConfigurationTypeImage
	        icon="icons/sample16.png"
	        configTypeID="rhogenwizard.launcher.rhosyncApp"
	        id="org.eclipse.jdt.debug.ui.launchConfigurationTypeImage.javaApplet">
	    </launchConfigurationTypeImage>
	</extension>
		 
   	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
	    <launchConfigurationType
           delegate="rhogenwizard.launcher.RhogenLaunchDelegate"
           id="rhogenwizard.launcher.rhodesApp"
           modes="run, debug"
           name="Rhodes Application"
           public="true"
           sourceLocatorId="com.rhomobile.rhostudio.sourceLookupDirector_pda"
           sourcePathComputerId="com.rhomobile.rhostudio.sourcePathComputer_pda">        
	    </launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
	    <launchConfigurationType
           delegate="rhogenwizard.launcher.RhosyncLaunchDelegate"
           id="rhogenwizard.launcher.rhosyncApp"
           modes="run, debug"
           name="Rhoconnect Application"
           public="true"
           sourceLocatorId="com.rhomobile.rhostudio.sourceLookupDirector_pda"
           sourcePathComputerId="com.rhomobile.rhostudio.sourcePathComputer_pda">        
	    </launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    	<launchConfigurationTabGroup
        	type="rhogenwizard.launcher.rhodesApp"
        	class="rhogenwizard.launcher.RhogenTabGroup"
        	id="rhogenwizard.launcher.rhodesApp">
    	</launchConfigurationTabGroup>
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    	<launchConfigurationTabGroup
        	type="rhogenwizard.launcher.rhosyncApp"
        	class="rhogenwizard.launcher.RhosyncTabGroup"
        	id="rhogenwizard.launcher.rhosyncApp">
    	</launchConfigurationTabGroup>
	</extension>
	
    <extension point="org.eclipse.ui.preferencePages">
      <page
            name="Rhomobile"
            class="rhogenwizard.preferences.RhogenPreferencePage"
            id="rhogenwizard.preferences.RhogenPreferencePage">
      </page>
      <page
            category="rhogenwizard.preferences.RhogenPreferencePage"
            class="rhogenwizard.preferences.RhogenPreferenceAndroidPage"
            id="rhogen-wizard.page1"
            name="Android">
      </page>
      <page
            category="rhogenwizard.preferences.RhogenPreferencePage"
            class="rhogenwizard.preferences.RhogenPreferencePageBb"
            id="rhogen-wizard.page2"
            name="Blackberry">
      </page>
      <page
            category="rhogenwizard.preferences.RhogenPreferencePage"
            class="rhogenwizard.preferences.RhogenPreferencePageWm"
            id="rhogen-wizard.page3"
            name="Windows Mobile">
      </page>
    </extension>

    <extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="rhogenwizard.preferences.PreferenceInitializer">
      </initializer>
    </extension>
    
    <extension point="org.eclipse.ui.navigator.navigatorContent">
       <commonWizard
             menuGroupId="asd"
             type="new"
             wizardId="rhogenwizard.wizards.RhogenModelWizard">
          <enablement></enablement>
       </commonWizard>
       <commonWizard
             menuGroupId="asd"
             type="new"
             wizardId="rhogenwizard.wizards.RhogenSourceAdapterWizard">
          <enablement></enablement>
       </commonWizard>
    </extension>
    <extension
          id="rhostudio_id"
          point="org.eclipse.core.runtime.products">
       <product
             application="org.eclipse.ui.ide.workbench"
             name="RhoStudio">
          <property
                name="appName"
                value="RhoStudio">
          </property>
          <property
                name="aboutImage"
                value="icons/sample.png">
          </property>
          <property
                name="aboutText"
                value="Rhomobile RhoStudio">
          </property>
          <property
                name="windowImages"
                value="icons/sample.png,icons/sample.png,icons/sample.png,icons/sample.png,icons/sample.png">
          </property>
          <property
                name="startupForegroundColor"
                value="C8D5EA">
          </property>
          <property
                name="startupMessageRect"
                value="7,220,441,20">
          </property>
          <property
                name="startupProgressRect"
                value="0,280,455,15">
          </property>
          <property
                name="preferenceCustomization"
                value="plugin_customization.ini">
          </property>
       </product>
    </extension>
    
   <extension point="org.eclipse.ui.perspectives">
      <perspective
            class="rhogenwizard.perspectives.RhostudioPerspective"
            icon="icons/sample16.png"
            id="rhogenwizard.perspectives.RhostudioPerspective"
            name="RhoStudio">
      </perspective>
   </extension>
   
   <extension
         id="aaaaaa"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="RhoStudio">
         <property
               name="appName"
               value="RhoStudio">
         </property>
         
            <property name="preferenceCustomization"
             value="plugin_customization.ini"/>
            <property
                  name="aboutImage"
                  value="icons/sample.png">
            </property>
            <property
                  name="aboutText"
                  value="Rhomobile RhoStudio">
            </property>
            <property
                  name="windowImages"
                  value="icons/sample16.png,icons/sample.png,icons/sample.png,icons/sample.png,icons/sample.png">
            </property>
            <property
                  name="startupForegroundColor"
                  value="C8D5EA">
            </property>
            <property
                  name="startupMessageRect"
                  value="7,220,441,20">
            </property>
            <property
                  name="startupProgressRect"
                  value="0,280,455,15">
            </property>
      </product>
   </extension>
   
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            name="PDA Source Lookup Director"
            class="rhogenwizard.debugger.RhogenSourceLookupDirector"
            id="com.rhomobile.rhostudio.sourceLookupDirector_pda">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="rhogenwizard.debugger.RhogenSourcePathComputerDelegate"
            id="com.rhomobile.rhostudio.sourcePathComputer_pda">
      </sourcePathComputer>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="rhogenwizard.debugger.model.RhogenLineBreakpoint"
            id="lineBreakpoint"
            markerType="com.rhomobile.rhostudio.lineBreakpoint_marker"
            name="PDA line breakpoint">
      </breakpoint>
   </extension>
   <extension
         id="lineBreakpoint_marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.debug.core.lineBreakpointMarker" />
      
      <persistent
            value="true">
      </persistent>
      
   </extension>

   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="rhogenwizard.debugger.model.RhogenModelPresentation"
            id="com.rhomobile.rhostudio.rhogenDebugModel">
      </debugModelPresentation>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="rhogenwizard.debugger.model.RhogenBreakpointAdapterFactory"
            adaptableType="rhogenwizard.editors.RubyEditor">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
   
   <extension point="org.eclipse.ui.contexts">
      <context
            name="Debugging PDA"
            description="Debugging PDA"
            id="pda.debugging"
            parentId="org.eclipse.debug.ui.debugging">
      </context>
   </extension>
   
   <extension point="org.eclipse.debug.core.watchExpressionDelegates">
     <watchExpressionDelegate
           debugModel="org.eclipse.dltk.debug.rubyModel"
           delegateClass="rhogenwizard.debugger.RhogenWatchExpressionDelegate">
     </watchExpressionDelegate>
    </extension>
   
</plugin>
