<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            name="Rhodes"
            id="RhogenAppWizard">
      </category>
      
      <wizard
            category="RhogenAppWizard"
            class="rhogenwizard.wizards.RhogenAppWizard"
            icon="icons/sample.gif"
            id="rhogenwizard.wizards.RhogenWizard"
            name="Rhogen application wizard"
            project="true"> 
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            id="rhogenwizard.contribution1">
            
         <menu
               label="Rhodes"
               path="additions"
               id="rhogen-model.menumodel">
            <separator
                  name="group1">
            </separator>
         </menu>
         
         <action
               label="New model"
               class="rhogenwizard.actions.NewModelAction"
               menubarPath="rhogen-model.menumodel/group1"
               enablesFor="1"
               id="rhogen-model.newAction">
         </action>
      </objectContribution>
   </extension>
   
   <extension point="org.eclipse.ui.editors">
      <editor
            name="Rhodes Editor"
            extensions="yml,rb,erb"
            icon="icons/sample.gif"
            class="rhogenwizard.editors.RhodesEditor"
            id="rhogenwizard.editors.RhodesEditor">
      </editor>
   </extension>
</plugin>
