<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="RhogenAppWizard"
            name="Rhomobile">
      </category>
      
      <wizard
            category="RhogenAppWizard"
            class="rhogenwizard.wizards.RhogenAppWizard"
            icon="icons/sample16.png"
            id="rhogenwizard.wizards.RhogenWizard"
            name="Rhodes application"
            project="true"> 
      </wizard>
      
      <wizard
            category="RhogenAppWizard"
            class="rhogenwizard.wizards.RhogenModelWizard"
            icon="icons/sample16.png"
            id="rhogenwizard.wizards.RhogenModelWizard"
            name="Rhodes application model"> 
      </wizard>
   </extension>
   
   <!--
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            id="rhogenwizard.contribution1">
            
         <menu
               icon="icons/sample16.png"
               id="rhogen-model.menumodel"
               label="Rhodes"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         
         <action
               class="rhogenwizard.actions.NewModelAction"
               enablesFor="1"
               icon="icons/sample16.png"
               id="rhogen-model.newAction"
               label="Rhodes model"
               menubarPath="rhogen-model.menumodel/group1">
         </action>
      </objectContribution>
   </extension>
   -->
   
   <extension point="org.eclipse.ui.editors">
      <editor
            class="rhogenwizard.editors.RhodesEditor"
            extensions="yml"
            filenames="rhobuild"
            icon="icons/sample16.png"
            id="rhogenwizard.editors.RhodesEditor"
            name="Rhodes Editor">
      </editor>
   </extension>
   
	<extension point="org.eclipse.ui.editors">
      <editor
            name="Ruby Editor"
            extensions="rb,erb"
            icon="icons/ruby.png"
            class="rhogenwizard.editors.RubyEditor"
            id="rhogenwizard.editors.RubyEditor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.core.resources.builders"
               id="rhogenBuilder"
               name="Rhodes Project Builder">
      <builder
            hasNature="true"
            isConfigurable="false">
         <run
               class="rhogenwizard.builder.RhogenBuilder">
         </run>
      </builder>
   </extension>
   
   <extension point="org.eclipse.core.resources.natures"
              id="rhogenNature"
              name="Rhodes Project Nature">
      <runtime>
         <run
               class="rhogenwizard.builder.RhogenNature">
         </run>
      </runtime>
      <builder
            id="com.rhomobile.eclipse.rhogenBuilder">
      </builder>
   	</extension>
 
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	    <launchConfigurationTypeImage
	        icon="icons/sample16.png"
	        configTypeID="rhogenwizard.launcher.rhodesApp"
	        id="org.eclipse.jdt.debug.ui.launchConfigurationTypeImage.javaApplet">
	    </launchConfigurationTypeImage>
	</extension>
	 
   	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
	    <launchConfigurationType
	          delegate="rhogenwizard.launcher.RhogenLaunchDelegate"
	          id="rhogenwizard.launcher.rhodesApp"
	          modes="run, debug"
	          name="Rhodes Application"
	          public="true">        
	    </launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    	<launchConfigurationTabGroup
        	type="rhogenwizard.launcher.rhodesApp"
        	class="rhogenwizard.launcher.RhogenTabGroup"
        	id="rhogenwizard.launcher.rhodesApp">
    	</launchConfigurationTabGroup>
	</extension>

    <extension point="org.eclipse.ui.preferencePages">
      <page
            name="Rhomobile Preferences"
            class="rhogenwizard.preferences.RhogenPreferencePage"
            id="rhogenwizard.preferences.RhogenPreferencePage">
      </page>
    </extension>

    <extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="rhogenwizard.preferences.PreferenceInitializer">
      </initializer>
    </extension>
    <extension
          point="org.eclipse.ui.navigator.navigatorContent">
       <commonWizard
             menuGroupId="asd"
             type="new"
             wizardId="rhogenwizard.wizards.RhogenModelWizard">
          <enablement></enablement>
       </commonWizard>
    </extension>
 
</plugin>
