<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            id="rhogen-model.contribution1">
         <menu
               label="New model"
               path="additions"
               id="rhogen-model.menumodel">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="New model"
               class="rhogenmodel.popup.actions.NewModelAction"
               menubarPath="rhogen-model.menumodel/group1"
               enablesFor="1"
               id="rhogen-model.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
